.header {
  padding: 4rem 0 1rem 0;
  text-align: center;

  &__title {
    color: var(--color-text-white);
    font-size: 4rem;
    font-family: var(--font-primary);
    margin-bottom: 1rem;
  }

  &__intro {
    color: var(--color-text-white);
    font-size: 2rem;
    font-family: var(--font-secondary);
    margin-bottom: 3rem;
  }
}
