.movies-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;

  a {
    text-decoration: none;
  }

  .movie-card {
    background-color: var(--color-card-background);
    border-radius: 2rem;
    height: 100%;

    &__header {
      &-poster {
        img {
          display: block;
          width: 100%;
          max-width: 100%;
          height: auto;
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
        }
      }
    }

    &__body {
      padding: 3.5rem 3rem;

      &-title {
        color: var(--color-text-white);
        font-size: 3rem;
        font-family: var(--font-primary);
        margin-bottom: 2rem;
      }

      &-extras {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        &--date {
          margin-right: 1.6rem;
          h4 {
            font-size: 1.8rem;
            color: var(--color-text-white);
            font-family: var(--font-primary);
          }
          p {
            color: var(--color-text-gray);
            font-size: 1.6rem;
            font-family: var(--font-primary);
          }
        }

        &--rating {
          h4 {
            font-size: 1.8rem;
            color: var(--color-text-white);
            font-family: var(--font-primary);
          }

          p {
            color: var(--color-text-gray);
            font-size: 1.6rem;
            font-family: var(--font-primary);
          }
        }
      }

      &-overview {
        color: var(--color-text-white);
        font-size: 1.6rem;
        font-family: var(--font-secondary);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }
}

/* Pagination */
.custom-pagination ::ng-deep .ngx-pagination {
  margin: 3rem 0;
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--font-primary);

  li {
    color: var(--color-text-white);

    a {
      color: var(--color-text-white);
      padding: 0.8rem 1.6rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: var(--color-accent);
      }
    }
  }

  .pagination-previous,
  .pagination-next {
    display: none;
  }

  .current {
    padding: 0.8rem 1.6rem;
    background: var(--color-accent);
  }
}
