.navigation {
  min-height: 8rem;
  background-color: var(--color-card-background);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: block;
    max-width: 100%;
    width: 12rem;
    height: auto;

    @media (min-width: 414px) {
      width: 15rem;
    }

    @media (min-width: 768px) {
      width: 20rem;
    }
  }

  &__switcher {
    display: block;
    min-width: 16rem;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../../assets/images/chevron_down_icon.svg") 95% / 6% no-repeat #EEE;

    @media (min-width: 414px) {
      min-width: 20rem;
    }

    @media (min-width: 768px) {
      min-width: 30rem;
    }
  }
}
